
BSP_Application/.vs/BSP_Application/v15/Server/sqlite3/storage.ide-wal
BSP_Application/.vs/BSP_Application/v15/Server/sqlite3/storage.ide-shm
BSP_Application/.vs/BSP_Application/v15/.suo
*.ldf
*.mdf
*.ldf
*.config
*.config
BSP_Application/.vs/config/applicationhost.config
BSP_Application/.vs/config/applicationhost.config
